.jobs-main {
  height: 100vh;
  background-color: black;
}
.jobs-bottom-main {
  width: 100%;
  height: 85%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.jobs-bottom-body {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
}
.jobs-bottom-div1 {
  background-color: goldenrod;
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jobs-bottom-div2 {
  background-color: yellowgreen;
  width: 75%;
  padding: 10px;
  overflow: auto;
}

.jobs-profile-div {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  height: 30%;
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.loader-container-profile {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.failure-profile {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.jobs-horizontal-line {
  background-color: black;
  height: 2px;
  border: 0px;
  width: 80%;
}
.jobs-div1-type-of-employment {
  height: 30%;
  width: 80%;
}
.profile-avatar {
  width: 50px;
}
.jobs-div1-salary-range {
  padding-left: 0px;
  width: 80%;
}
.jobs-bottom-div2-input-container {
  width: 45%;
  background-color: black;
  border: 1px solid #272727;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}
.job-search-input {
  height: 90%;
  width: 80%;
  background-color: black;
  border: 0px;
  border-radius: 3px;
  padding-left: 10px;
  outline: none;
  color: white;
}
.job-search-button {
  width: 18%;
  height: 90%;
  background-color: #272727;
  border: 0px;
  outline: none;
  cursor: pointer;
  color: white;
}
