.body-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.body-header-container {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}
.body-header-navigation-container {
  display: flex;
  align-items: center;
  width: 8%;
  justify-content: space-between;
}
.body-header-navigation-container-text {
  font-size: 19px;
  color: white;
  text-decoration: none;
}
.body-logout-button {
  border: 0px;
  width: 100px;
  height: 28px;
  color: white;
  outline: none;
  border-radius: 3px;
  background-color: #6366f1;
  cursor: pointer;
}
.body-bottom-container {
  height: 90%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  width: 80%;
  border-radius: 6px;
  padding: 15px;
}
.body-bottom-heading {
  font-size: 70px;
  font-weight: bold;
  font-family: Roboto;
  color: white;
}
.body-bottom-para {
  font-size: 22px;
  color: white;
  font-family: Roboto;
  width: 65%;
}
.body-bottom-button {
  width: 130px;
  height: 50px;
  color: white;
  background-color: #4f46e5;
  border: 0px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
